## Extracting data from a CDP questionnary in docx format

In [1]:
#specific to extracting information from word documents
import os
import zipfile

#other tools useful in extracting the information from our document
import re

#to pretty print our xml:
import xml.dom.minidom
import xml.etree.ElementTree as ET
import PyPDF2

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
os.listdir('../Carbometrix/Questionnaires/Automotive')

['Mazda Motor Corporation 2020.docx',
 'Groupe PSA 2020.docx',
 'Hyundai Motor Co 2018.docx',
 'Groupe PSA 2019.docx',
 'Hyundai Motor Co 2020.docx',
 'Honda Motor Co. 2020.docx',
 'Nissan Motor Co., Ltd. 2018.docx',
 'Fiat Chrysler Automobiles NV 2018.docx',
 'Daimler AG 2018.docx',
 'Volkswagen AG 2018.docx',
 'Ford Motor Company 2018.docx',
 'Daimler AG 2020.docx',
 'Isuzu Motors Limited 2018.docx',
 'Renault 2020.docx',
 'SUBARU CORPORATION 2018.docx',
 'PACCAR Inc 2020.docx',
 'PACCAR Inc 2019.docx',
 'Mahindra _ Mahindra 2018.docx',
 'Ford Motor Company 2020.docx',
 'Toyota Motor Corporation 2020.docx',
 'BMW AG 2018.docx',
 'Isuzu Motors Limited 2019.docx',
 'Mitsubishi Motors Corporation 2020.docx',
 'General Motors Company 2020.docx',
 'Mitsubishi Motors Corporation 2019.docx',
 'Renault 2018.docx',
 'BYD 2020.docx',
 'BMW AG 2019.docx',
 'Groupe PSA 2018.docx',
 'Navistar International Corporation 2019.docx',
 'Volkswagen AG 2019.docx',
 'Honda Motor Co. 2018.docx',
 'Hyundai Motor Co 2019.docx',
 'Renault 2019.docx',
 'Ford Motor Company 2019.docx',
 'Nissan Motor Co., Ltd. 2019.docx',
 'Fiat Chrysler Automobiles NV 2019.docx',
 'Toyota Motor Corporation 2018.docx',
 'Mahindra _ Mahindra 2020.docx',
 'Fiat Chrysler Automobiles NV 2020.docx',
 'Mitsubishi Motors Corporation 2018.docx',
 'PACCAR Inc 2018.docx',
 'BMW AG 2020.docx',
 'SUBARU CORPORATION 2020.docx',
 'Navistar International Corporation 2018.docx',
 'Mazda Motor Corporation 2019.docx',
 'General Motor Company 2019.docx',
 'SUBARU CORPORATION 2019.docx',
 'Volkswagen AG 2020.docx',
 'Honda Motor Co. 2019.docx',
 'Suzuki Motor Corporation 2020.docx',
 'BYD 2018.docx',
 'Mahindra _ Mahindra 2019.docx',
 'Isuzu Motors Limited 2020.docx',
 'Toyota Motor Corporation 2019.docx',
 'Suzuki Motor Corporation 2019.docx',
 'Nissan Motor Co., Ltd. 2020.docx',
 'Navistar International Corporation 2020.docx',
 'Mazda Motor Corporation 2018.docx',
 'General Motor Company 2018.docx']

In [192]:
path = '../Carbometrix/Questionnaires/Automotive/'
data = []

metrics = []
efficiency = []
for file in os.listdir(path):    
    doc_path = path + file
    
    XML_content = generating_XML(doc_path)
    questionnaire = questionnaire_vector(XML_content)
    
    title, sections = section_questionnaire(questionnaire)
    all_subsections = defining_all_subsections(sections)
    
    subsections = text_subsections(sections, all_subsections)
    
    #taking functions
    start_date, end_date = taking_period(subsections)
    scope1 = taking_scope1(subsections)
    #scope2_lb, scope2_bd, scope2_lb_last_year, scope2_mb_last_year = taking_scope2(subsections)
    scope2 = taking_scope2(subsections)
    scope3_names, scope3 = taking_scope3(subsections)
    
    ###testing
#    metrics_name, intensity_metrics = taking_intensity_metrics(subsections)
#    metrics.append([title, intensity_metrics])
#    
#    efficiency_name, efficiency_metrics = taking_efficiency_metrics(subsections)
#    efficiency.append([title, efficiency_metrics])
    
    
    #metrics_names, metrics = taking_intensity_metrics(subsections)
    #metrics.append([title,intensity_metrics])
    #metrics.append(intensity_metrics)
    #metrics = correcting_size(metrics)
    
    #new = metrics_names.copy()
    #for s in metrics_names:
    #    new.append(s)    
    #metrics_names = new.copy()
    
    #efficiency_name, efficiency_metrics = taking_efficiency_metrics(subsections)
    #efficiency.append(efficiency_metrics)
    #efficiecy = correcting_size(efficiency)
    
    
    ############
    #data_file = [title, start_date, end_date, scope1, scope2_location_based, scope2_market_based, scope3, metrics]
    data_file = [title, start_date, end_date, scope1, scope2, scope3]
    data.append(data_file)

In [193]:
all_data = np.array(data, dtype=object).T.tolist()
dic = {}
dic['Title'] = all_data[0]
dic['Start Date'] = all_data[1]
dic['End Date'] = all_data[2]
dic['Scope 1'] = all_data[3]  

all_data[4] = np.array(all_data[4], dtype=object).T
dic['Scope 2 (location based)'] = all_data[4][0]
dic['Scope 2 (market based)'] = all_data[4][1]

all_data[5] = np.array(all_data[5], dtype=object).T
for i in range(len(scope3_names)):
    dic[scope3_names[i]] = all_data[5][i]

df_data = pd.DataFrame.from_dict(dic, orient='index')
df_data = df_data.transpose()

In [180]:
#Saving table in a CSV file 
df_data.to_csv('../Carbometrix/automotive_data.csv')

In [2]:
test = np.random.randint(1,59,5)
print(test)
name = np.array(all_data[0], dtype=object)

[24  9 28 18 54]

NameError: name 'all_data' is not defined

In [196]:
df_data.transpose()

,Title,Start Date,End Date,Scope 1,Scope 2 (location based),Scope 2 (market based),Purchased goods and services,Capital goods,Fuel-and-energy-related activities (not included in Scope 1 or 2),Upstream transportation and distribution,...,Upstream leased assets,Downstream transportation and distribution,Processing of sold products,Use of sold products,End of life treatment of sold products,Downstream leased assets,Franchises,Investments,Other (upstream),Other (downstream)
0,Mazda Motor Corporation - Climate Change 2020,April 1 2019,March 31 2020,117120,534950,<Not Applicable>,4570000,95400,110699,30402,...,nan,63248,nan,31068000,387489,nan,nan,nan,nan,nan
1,Groupe PSA - Climate Change 2020,January 1 2019,December 31 2019,888847,596149,336272,18113776,nan,nan,587046,...,nan,221627,nan,104685836,1043495,nan,nan,nan,nan,nan
2,Hyundai Motor Co - Climate Change 2018,January 1 2017,December 31 2017,805105,1797736,1771132,782672.59,212.65,53863.99,nan,...,nan,748242.1,151545.01,4937006.49,5956.42,1134,nan,363661.6,nan,nan
3,Groupe PSA - Climate Change 2019,janvier 1 2018,d\xc3\xa9cembre 31 2018,878013,435943,307458,22069902,nan,nan,935949,...,nan,335093,nan,88626258,1617689,nan,nan,nan,nan,nan
4,Hyundai Motor Co - Climate Change 2020,January 1 2019,December 31 2019,808139,1900954,<Not Applicable>,1116672,251,97199,nan,...,nan,954579,nan,4399090,8455,4126,nan,394946,nan,nan
5,"Honda Motor Co., Ltd. - Climate Change 2020",April 1 2019,March 31 2020,1240000,3440000,3790000,41200000,1090000,497000,3010000,...,nan,128000,499,247000000,4120000,nan,nan,100000,nan,nan
6,"Nissan Motor Co., Ltd. - Climate Change 2018",April 1 2017,March 31 2018,912476,2563866,2394109,17971000,1203000,412000,740000,...,nan,874000,11000,190261000,425000,470000,nan,nan,nan,nan
7,Fiat Chrysler Automobiles NV - Climate Change ...,January 1 2017,December 31 2017,1101289,3309598,2713748,30536470,1327453,127320,877438,...,0,643850,nan,90152474,889023,0,125535,nan,nan,nan
8,Daimler AG - Climate Change 2018,January 1 2017,December 31 2017,1192000,2041000,1763000,17200000,1068000,192000,251000,...,nan,600000,100000,60200000,1000000,nan,633000,nan,nan,nan
9,Volkswagen AG - Climate Change 2018,January 1 2017,December 31 2017,4297748,5901889,4907050,64139109,13846493,1399741,4374823,...,nan,nan,13000,249466650,1114154,942053,1550000,nan,nan,nan
10,Ford Motor Company - Climate Change 2018,January 1 2017,December 31 2017,1391127,3482444,3359908,42178358,1048894,1100000,2433990,...,nan,nan,nan,161400000,1400000,nan,1957800,nan,nan,nan
11,Daimler AG - Climate Change 2020,January 1 2019,December 31 2019,1239000,1706000,1276000,21600000,1316000,197000,251000,...,nan,600000,100000,117200000,1200000,nan,672000,nan,nan,nan
12,Isuzu Motors Limited - Climate Change 2018,April 1 2017,March 31 2018,132181,91586,85928,4814071,115216,32900,17242,...,0,37768,600776,27393155,384,0,0,0,0,0
13,Renault - Climate Change 2020,January 1 2019,December 31 2019,626947,697096,585404,10896583,1847004,140436,591167,...,nan,622728,842,81602027,1841764,nan,295598,1447191,nan,nan
14,SUBARU CORPORATION - Climate Change 2018,April 1 2017,March 31 2018,351327.71,<Not Applicable>,340262.28,7251192,463638,81818,1252378,...,nan,nan,4200,18806767,593463,nan,56056,0,nan,nan
15,PACCAR Inc - Climate Change 2020,January 1 2019,December 31 2019,120209,165289,130169,1623520,731077,24872,1806889,...,nan,508436,86951,78066148,14272,1589,nan,nan,nan,nan
16,PACCAR Inc - Climate Change 2019,January 1 2018,December 31 2018,121123,171594,178892,3765405,1040603,25549,1806487,...,nan,566042,89387,151989572,14009,16136985,nan,nan,nan,nan
17,Mahindra &amp; Mahindra - Climate Change 2018,April 1 2017,March 31 2018,41777,229217,226950,5712638.63,759281,55834,72045,...,0,265027,0,7583137,699626,0,126072,nan,nan,nan
18,Ford Motor Company - Climate Change 2020,January 1 2019,December 31 2019,1451947,3195704,3068182,39676648,1280384,1066000,2102900,...,nan,nan,nan,134760000,1360000,nan,1957800,nan,nan,nan
19,Toyota Motor Corporation - Climate Change 2020,January 1 2019,December 31 2019,1904119,4244743,3779542,65100000,4230000,960000,910000,...,nan,10000,1240000,320500000,3960000,nan,nan,90000,nan,nan
20,BMW AG - Climate Change 2018,January 1 2017,December 31 2017,625072,1572432,510911,16786192,nan,nan,1473087,...,nan,nan,nan,51887708,1234346,nan,nan,nan,nan,nan
21,Isuzu Motors Limited - Climate Change 2019,April 1 2018,March 31 2019,127860,99702,92528,4911174,0,33513,17241,...,nan,37413,678873,27039004,397,nan,nan,nan,nan,nan
22,Mitsubishi Motors Corporation - Climate Change...,April 1 2019,March 31 2020,116606,386402,416878,6330817,319000,49311,1173571,...,nan,nan,nan,26833360,670649,nan,13290,nan,nan,nan
23,General Motors Company - Climate Change 2020,January 1 2019,December 31 2019,1589700,4381970,3721875,45505504,4597425,322403,3449729,...,10077,1922037,120731,190123729,2938656,20459,138641,nan,nan,nan
24,Mitsubishi Motors Corporation - Climate Change...,April 1 2018,March 31 2019,66417,418992,451318,6899555,407405,20586,1277592,...,nan,nan,nan,33198740,727235,nan,12183,nan,nan,nan
25,Renault - Climate Change 2018,January 1 2017,December 31 2017,674960,704277,610009,12853847,1361610,172545,560990,...,619,590940,nan,89344634,1727965,nan,324792,1602829,nan,nan
26,BYD - Climate Change 2020,January 1 2019,December 31 2019,131.96,200994.41,<Not Applicable>,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
27,BMW AG - Climate Change 2019,January 1 2018,December 31 2018,581703,1539378,538622,17221109,nan,nan,1563919,...,nan,nan,nan,52759567,1252835,nan,nan,nan,nan,nan
28,Groupe PSA - Climate Change 2018,January 1 2017,December 31 2017,426737,182548,119512,18281839,nan,nan,1047397,...,nan,380872,nan,72556048,1142615,nan,nan,nan,nan,nan
29,Navistar International Corporation - Climate C...,January 1 2018,December 31 2018,88982,125015,<Not Applicable>,nan,nan,50000000,nan,...,nan,nan,nan,50000000,nan,nan,nan,nan,nan,nan
30,Volkswagen AG - Climate Change 2019,January 1 2018,December 31 2018,4068261,6370514,4291252,67434157,14212385,1402775,4817890,...,nan,nan,13000,332364361,1145858,1048978,1550000,nan,nan,nan
31,"Honda Motor Co., Ltd. - Climate Change 2018",April 1 2017,March 31 2018,1350000,3790000,4100000,43500000,1250000,463000,2933000,...,0,109000,36700,261000000,4000000,0,0,119000,nan,nan
32,Hyundai Motor Co - Climate Change 2019,January 1 2018,December 31 2018,831180,1920126,<Not Applicable>,602428.91,2493.37,57813.59,nan,...,nan,845987.2,131775.64,3576346.3,4938.15,1528.33,nan,378356.97,nan,nan
33,Renault - Climate Change 2019,janvier 1 2018,d\xc3\xa9cembre 31 2018,663344,663271,553366,14173433,1567598,159351,526718,...,619,554838,1328,84001034,1901458,nan,313429,1485153,nan,nan
34,Ford Motor Company - Climate Change 2019,January 1 2018,December 31 2018,1442963,3349808,3219716,31161493,1207456,1200000,2283250,...,nan,nan,nan,134477144,1300000,nan,1957800,nan,nan,nan
35,"Nissan Motor Co., Ltd. - Climate Change 2019",April 1 2018,March 31 2019,889444,2539607,2339883,17476000,1182000,401000,762000,...,nan,850000,9000,180882000,413000,462000,nan,nan,nan,nan
36,Fiat Chrysler Automobiles NV - Climate Change ...,January 1 2018,December 31 2018,1129268,2795995,2470137,25496427,1854098,53798,909560,...,0,678238,nan,85899110,931000,0,125535,nan,nan,nan
37,Toyota Motor Corporation - Climate Change 2018,avril 1 2016,mars 31 2017,2604655,5265425,<Not Applicable>,61196000,3891000,959000,852000,...,0,9000,1070000,328938000,3711000,nan,nan,151000,nan,nan
38,Mahindra &amp; Mahindra - Climate Change 2020,April 1 2019,March 31 2020,40654,214785,199767,4372542,nan,111338,56528,...,nan,91786,nan,53677130,38938,8960,2403,nan,nan,nan
39,Fiat Chrysler Automobiles NV - Climate Change ...,January 1 2019,December 31 2019,1058367,2296709,2359103,26971020,707594,51719,791225,...,0,699208,nan,92524830,845856,0,125535,nan,nan,nan
40,Mitsubishi Motors Corporation - Climate Change...,April 1 2017,March 31 2018,120063,410151,419856,5855319,296825,44696,1013047,...,nan,nan,nan,30731365,741367,nan,4735,nan,nan,nan
41,PACCAR Inc - Climate Change 2018,January 1 2017,December 31 2017,109976,165487,171728,3176610,1143950,24528,1166395,...,nan,238339,94935,130395880,11772,15775213,nan,nan,nan,nan
42,BMW AG - Climate Change 2020,January 1 2019,December 31 2019,642259,1420172,302574,18505921,nan,nan,1570397,...,nan,nan,nan,53421006,1269018,nan,nan,nan,nan,nan
43,SUBARU CORPORATION - Climate Change 2020,April 1 2019,March 31 2020,279674.2,426247.2,392217.8,1992046,413287,105323,737817,...,nan,nan,nan,31390639,575107,nan,nan,nan,nan,nan
44,Navistar International Corporation - Climate C...,January 1 2017,December 31 2017,77503,145869,<Not Applicable>,nan,nan,nan,nan,...,nan,nan,nan,50000000,nan,nan,0,nan,0,0
45,Mazda Motor Corporation - Climate Change 2019,April 1 2018,March 31 2019,132290,584740,<Not Applicable>,4523904,93359,65419,29357,...,nan,44330,nan,31853000,409452,nan,nan,nan,nan,nan
46,General Motors Company - Climate Change 2019,janvier 1 2018,d\xc3\xa9cembre 31 2018,1763555,4322761,3924338,41330301,4384329,354415,2749778,...,10077,1460808,120731,210371702,3353600,20459,137096,nan,nan,nan
47,SUBARU CORPORATION - Climate Change 2019,April 1 2018,March 31 2019,344850,<Not Applicable>,333988.99,7418726,372211,78815,1162964,...,nan,nan,4027,17375396,556250,nan,53531,nan,nan,nan
48,Volkswagen AG - Climate Change 2020,January 1 2019,December 31 2019,4494068,5973894,3796231,71564141,16724588,1512239,4622584,...,nan,nan,nan,344474742,1187992,2602402,1550000,nan,nan,nan
49,"Honda Motor Co., Ltd. - Climate Change 2019",avril 1 2018,mars 31 2019,1380000,3690000,4090000,43900000,1230000,545000,3010000,...,nan,137000,38100,257000000,4090000,nan,nan,93200,nan,nan
50,Suzuki Motor Corporation - Climate Change 2020,April 1 2018,March 31 2019,623000,587000,566000,8697000,922000,179000,65000,...,nan,776000,nan,75762000,30000,nan,nan,516000,nan,nan
51,BYD - Climate Change 2018,January 1 2017,December 31 2017,NaN,<Not Applicable>,<Not Applicable>,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
52,Mahindra &amp; Mahindra - Climate Change 2019,April 1 2018,March 31 2019,45768,247948,234351,8750210.72,323632.08,58312.2,72920,...,0,127735,nan,8235550,835053.57,80000,126072,nan,nan,nan
53,Isuzu Motors Limited - Climate Change 2020,April 1 2019,March 31 2020,144559,134730,121359,8808327,1625348,26441,16264,...,nan,36523,326138,25232179,410,nan,nan,nan,nan,nan
54,Toyota Motor Corporation - Climate Change 2019,avril 1 2017,mars 31 2018,2554576.66,5238108.05,<Not Applicable>,61188300,4180700,946100,872400,...,nan,6300,1405900,338513000,3790600,nan,nan,174500,nan,nan
55,Suzuki Motor Corporation - Climate Change 2019,April 1 2017,March 31 2018,597347,644898,611835,8312069,731880,173638,62370,...,nan,751297,nan,66779603,29281,nan,nan,510787,nan,nan
56,"Nissan Motor Co., Ltd. - Climate Change 2020",April 1 2019,March 31 2020,765370,2337703,2173236,15620000,994000,358000,583000,...,nan,760000,8000,153428000,369000,389000,nan,nan,nan,nan
57,Navistar International Corporation - Climate C...,January 1 2019,December 31 2019,91171,125729,<Not Applicable>,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
58,Mazda Motor Corporation - Climate Change 2018,April 1 2017,March 31 2018,135880,616360,<Not Applicable>,4518087,58893,85322,26750,...,0,41310,0,30799000,405803,0,0,0,nan,nan
59,General Motors Company - Climate Change 2018,janvier 1 2017,d\xc3\xa9cembre 31 2017,1848804,4572734,4302887,46174073,4596326,354560,3029058,...,10077,1609174,120731,220929108,3559479,20459,136449,59212,nan,nan

In [232]:
all_data = np.array(data, dtype=object).T.tolist()
dic = {}
dic['Title'] = all_data[0]
dic['Start Date'] = all_data[1]
dic['End Date'] = all_data[2]
dic['Scope 1'] = all_data[3]    
dic['Scope 2 (location based)'] = all_data[4]
dic['Scope 2 (market based)'] = all_data[5]

#Scope 3
for i in range(len(scope3_names)):
    dic[scope3_names[i]] = np.array(all_data[6], dtype=object).T.tolist()[i]

#METRICS
all_data[7] = correcting_size(all_data[7])
for i in range(len(metrics_names)):
    if i < 10:
        dic['[LDV] '+metrics_names[i]] = np.array(all_data[7], dtype=object).T.tolist()[i]
    else:
        dic['[HDV] '+metrics_names[i]] = np.array(all_data[7], dtype=object).T.tolist()[i]
    

df_data = pd.DataFrame(dic)
#df_data
df_data.to_csv('../Carbometrix/automotive_data.csv')

In [5]:
def generating_XML(doc_path):
    """
    FUNCTION 
    Input: doc_path
    Output: XML_content
    
    Example
    doc_path = '../Carbometrix/General Motor Company 2018.docx'
    """
    
    #Extract the xml file from a docx
    document = zipfile.ZipFile(doc_path)
    XML_content = document.read('word/document.xml')
    
    #The XML content is not the best way. The next lines are necessary to make the XML file more readable
    #uglyXml = xml.dom.minidom.parseString(xml_content).toprettyxml(indent='  ')
    #text_re = re.compile('>\n\s+([^<>\s].*?)\n\s+</', re.DOTALL)    
    #prettyXml = text_re.sub('>\g<1></', uglyXml)

    return XML_content

In [6]:
def questionnaire_vector(XML_content):
    """
    FUNCTION
    Input: XML_content
    Output: questionnaire
    
    This function creates a function of strings of all XML content 
    """
    
    #Taking only w:t strings. 
    questionnaire = re.findall('<w:t xml.*?><', str(XML_content))

    #Removing XML sintax from strings
    for i in range(len(questionnaire)):
        questionnaire[i] = re.sub('<w:t xml:space="preserve">', '', questionnaire[i])
        questionnaire[i] = re.sub('</w:t><','', questionnaire[i])
    
    return questionnaire

In [7]:
def section_questionnaire(questionnaire):
    """
    Organizing our questionary in sections 

    The list 'sections' has the information about each section within the questionary.

    """

    sections_name = ['C0. Introduction', 
                    'C1. Governance', 
                    'C2. Risks and opportunities', 
                    'C3. Business Strategy', 
                    'C4. Targets and performance',
                    'C5. Emissions methodology',
                    'C6. Emissions data',
                    'C7. Emissions breakdowns',
                    'C8. Energy',
                    'C9. Additional metrics',
                    'C10. Verification',
                    'C11. Carbon pricing',
                    'C12. Engagement',
                    'C14. Signoff',
                    ]

    str_quest, sections = [], []
    
    title = questionnaire[0]
    questionnaire = questionnaire[1:]
    sections_name = sections_name[1:] #I need to take of 'C0: Introduction' to guarentee that the first section will be introduction

    for phrase in questionnaire:
        if phrase in sections_name:
            sections.append(str_quest)
            sections_name = sections_name[1:]
            str_quest = []
        str_quest.append(phrase)
        
    return title, sections

In [8]:
def defining_all_subsections(sections):
    subsection_name = []
    subsection = "C"

    for i in range(len(sections)):
        subsection += str(i) + "."
        for j in range(20):
            subsection_name.append(subsection + str(j+1))
        subsection = "C"
    
    all_subsections = []
    for i in range(len(sections)):
        for j in range(len(sections[i])):
            if sections[i][j] in subsection_name:
                all_subsections.append(sections[i][j])
                
    return all_subsections

In [9]:
"""
In order to increase our data specification, in this cell has the list subsections, where is possible to access
each subsection of a section (Introduction, Governance, etc.).

"""
def get_text(text, list_name):
    text = text[1:]
    sub_text = []    
    i = 0
    while text[i] not in list_name:
        sub_text.append(text[i])
        i += 1
        if i >= len(text):
            break
    
    return sub_text

def text_subsections(sections, all_subsections):
    sub_text = []
    subsections = []
    for i in range(len(sections)):
        for j in range(len(sections[i])):
            if sections[i][j] in all_subsections:
                text = sections[i][j:]
                sub_text.append(get_text(text, all_subsections))
                subsections_name = all_subsections[1:]
        subsections.append(sub_text)
        sub_text = []
        
    return subsections

### Taking all data we need 

- Title
- Start and end date
- Scope 1 emissions
- Scope 2 emissions (location-based and market-based
- Scope 3 data (15 + 2 categories)

In [10]:
def get_period(subsections):
    for i in range(len(subsections[0][1])):
        if subsections[0][1][i] == 'Row 1' or subsections[0][1][i] == 'Reporting year':
            start_date = subsections[0][1][i+1]
            end_date = subsections[0][1][i+2]
            
    return start_date, end_date

In [11]:
def isfloat(value):
  try:
    float(value)
    return True
  except ValueError:
    return False

In [184]:
def get_scope1(subsections):
    scope1 = [s for s in subsections[6][0][1:] if isfloat(s)]
    if scope1:
        scope1 = scope1[0]
    else:
        scope1 = np.nan #no answer
    return scope1

In [2]:
def get_scope2(subsections):
    """
    input: a vector with all subsections
    output: 
        scope2[0] = location based 
        scope2[1] = market based
    """
    
    
    scope2 = []

    for i in range(len(subsections[6][2][1:])):
        if subsections[6][2][i] in ['Scope 2, location-based', 'Scope 2, market-based (if applicable)']:
            #print(subsections[6][2][i+1])
            if isfloat(subsections[6][2][i+1]):
                scope2.append(subsections[6][2][i+1])
            elif subsections[6][2][i+1] in ['&lt;Not Applicable&gt;']:
                scope2.append(subsections[6][2][i+1])
            else:
                scope2.append(np.nan)
            
            if len(scope2) == 2:
                break


    scope2 = [s.replace('&lt;', '<') for s in scope2]
    scope2 = [s.replace('&gt;', '>') for s in scope2]
    
    #scope2_lb = scope2[0]  
    #scope2_mb = scope2[1]
    #scope2_lb_last_year = scope2[2]
    #scope2_mb_last_year = scope2[3]
    #return scope2_lb, scope2_mb, scope2_lb_last_year, scope2_mb_last_year
    return scope2

In [191]:
#### C6.5
def get_scope3(subsections):
    """
    ***Sources of Scope 3 emissions***

    0 - Purchased goods and services 
    1 - Capital goods
    2 - Fuel-and-energy-related activities (not included in Scope 1 or 2)
    3 - Upstream transportation and distribution
    4 - Waste generated in operations
    5 - Business travel
    6 - Employee commuting
    7 - Upstream leased assets
    8 - Downstream transportation and distribution
    9 - Processing of sold products
    10 - Use of sold products
    11 - End of life treatment of sold products
    12 - Downstream leased assets
    13 - Franchises
    14 - Investments
    15 - Other (upstream)
    16 - Other (downstream)
    """

    scope3_sections = ['Evaluation status', 'Metric tonnes CO2e', 'Percentage of emissions calculated using data obtained from suppliers or value chain partners']

    scope3_data = []
    for i in range(len(subsections[6][4])):
        if subsections[6][4][i] in scope3_sections:
            if subsections[6][4][i] == 'Evaluation status':
                scope3_data.append(subsections[6][4][i-1])
            elif (subsections[6][4][i] == 'Metric tonnes CO2e' or subsections[6][4][i] == 'Percentage of emissions calculated using data obtained from suppliers or value chain partners'):
                if not(isfloat(subsections[6][4][i+1])):
                    scope3_data.append(np.nan)
                    continue
            scope3_data.append(subsections[6][4][i+1])

    for s in scope3_data:
        if not isfloat(s):
            s.replace('&lt;', '<')
            s.replace('&gt;', '>')

    scope3_data = np.reshape(scope3_data, (17,4)).tolist()

    scope3_names, scope3 = [], []
    for s in scope3_data:
        scope3_names.append(s[0])
        scope3.append(s[2])
    
    return scope3_names, scope3

In [13]:
#scope3_emissions = [[scope3_data[i][0], scope3_data[i][2]] for i in range(len(scope3_data)) if scope3_data[i][2].isdigit()]


#categories, emissions = [], []
#for s in scope3_emissions:
#    categories.append(s[0])
#    emissions.append(int(s[1]))
    
#emissions_sorted_idx = np.argsort(emissions)
#emissions_sorted_idx = emissions_sorted_idx[::-1]
#categories, emissions = np.array(categories), np.array(emissions)


#plt.figure(figsize=(12,12))
#plt.pie(emissions[emissions_sorted_idx], labels=categories[emissions_sorted_idx], autopct='%1.1f%%', radius=1)
#plt.title(title + '\n Scope 3 Emissions (Top 5)')
#plt.show()

In [13]:
#Subsection C-TO7.8
def taking_intensity_metrics(subsections):
    i = 0
    for s in subsections[7][4]:
        i += 1
        if s == 'C-TO7.8':
            C_TO78 = subsections[7][4][i:]
    
    metrics_name = [C_TO78[i] for i in range(1, len(C_TO78), 2)]
    metrics_name = metrics_name[:-1]
    intensity_metrics = [C_TO78[i+1] for i in range(1, len(C_TO78), 2)]
    intensity_metrics = [intensity_metrics[i] for i in range(len(intensity_metrics)) if ((i+1) % 11) != 0]
    
    if not (isfloat(intensity_metrics[9])):
        metric_denominator = float(intensity_metrics[4])
        vehicle_sale = float(intensity_metrics[6])
        vehicle_lifetime = float(intensity_metrics[7])
        annual_distance = float(intensity_metrics[8])
        intensity_metrics[9] = metric_denominator/(vehicle_sale*vehicle_lifetime*annual_distance)

    return metrics_name, intensity_metrics

In [14]:
#Subsection C-TO8.4 or C-TO8.5
def taking_efficiency_metrics(subsections):
    i = 0
    for s in subsections[8][1]:
        i += 1
        if s == 'C-TO8.4' or s == 'C-TO8.5':
            C_TO8 = subsections[8][1][i:]

    efficiency_name = [C_TO8[i] for i in range(1, len(C_TO8), 2)]
    efficiency_metrics = [C_TO8[i+1] for i in range(1, len(C_TO8), 2)]
    efficiency_metrics = [efficiency_metrics[i] for i in range(len(efficiency_metrics)) if ((i+1) % 8) != 0]
    
    return efficiency_name, efficiency_metrics

In [15]:
def correcting_size(vector):
    max_len = 0
    for s in vector:
        if len(s) > max_len:
            max_len = len(s)

    for s in vector: 
        for i in range(max_len - len(s)):
            s.append(' ') #rien répondu
            
    return vector

In [22]:
path = "../Carbometrix/Questionnaires/"
file = "Renault 2019.docx"
#file = "Toyota Motor Corporation 2018.docx"
#file = "Honda Motor Co. 2019.docx"

doc_path = path + file
XML_content = generating_XML(doc_path)
questionnaire = questionnaire_vector(XML_content)

title, sections = section_questionnaire(questionnaire)
all_subsections = defining_all_subsections(sections)

subsections = text_subsections(sections, all_subsections)

In [23]:
path = '../Carbometrix/Questionnaires/'
metrics = []
efficiency = []
for file in os.listdir(path): 
    doc_path = path + file
    XML_content = generating_XML(doc_path)
    questionnaire = questionnaire_vector(XML_content)

    title, sections = section_questionnaire(questionnaire)
    all_subsections = defining_all_subsections(sections)

    subsections = text_subsections(sections, all_subsections)
    
    #####testing
    metrics_name, intensity_metrics = taking_intensity_metrics(subsections)
    metrics.append(intensity_metrics)
    metrics = correcting_size(metrics)
    
    
    efficiency_name, efficiency_metrics = taking_efficiency_metrics(subsections)
    efficiency.append(efficiency_metrics)
    efficiecy = correcting_size(efficiency)

In [24]:
intensity_metrics[9]

0.13

In [25]:
metric_denominator = int(intensity_metrics[4])
vehicle_sale = int(intensity_metrics[6])
vehicle_lifetime = int(intensity_metrics[7])
annual_distance = int(intensity_metrics[8])
metric_denominator, vehicle_sale, vehicle_lifetime, annual_distance
intensity_metrics[9] = metric_denominator/(vehicle_sale*vehicle_lifetime*annual_distance)
#load_factor

In [26]:
intensity_metrics[9]

0.13